# 1. 공공데이터 포털 파일 데이터 불러오기

### (1) 접속: (https://www.data.go.kr/)  및 회원가입

### (2) 자료검색 및 제공유형 확인

주택금융관련지수 ((201909)지역별 PIR 및 LIR)

### (3) 데이터 다운로드 url 확인

https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001580075&fileDetailSn=1&publicDataDetailPk=uddi:306c5123-9a4a-466e-9e6d-95fbaf3567b9

### (4) 파이썬 활용 데이터 불러오기

In [10]:
import pandas as pd

url = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001580075&fileDetailSn=1&publicDataDetailPk=uddi:306c5123-9a4a-466e-9e6d-95fbaf3567b9"

data = pd.read_csv(url,encoding="ms949")

data.tail()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
178,2019,1,5.74,7.75,6.19,6.36,6.15,5.66,4.99,5.47,...,2.50,3.10,2.57,2.65,2.49,2.64,2.21,2.83,2.70,2.92
179,2019,2,5.74,7.73,6.47,6.05,6.22,5.31,5.47,5.32,...,2.89,3.13,2.65,2.72,2.57,2.45,2.39,2.54,2.77,2.91
180,2019,3,5.56,8.02,6.06,6.02,6.24,5.37,4.96,4.92,...,3.01,2.95,2.08,2.34,2.41,2.30,2.32,2.31,2.45,3.14
181,2019,4,5.36,7.87,6.10,5.93,5.47,5.15,5.00,5.19,...,2.84,2.95,2.21,2.20,2.37,2.25,2.11,2.05,2.47,2.52
182,2019,5,5.43,7.78,6.32,6.73,6.05,5.41,5.39,5.14,...,3.45,2.94,2.86,1.99,1.98,2.59,2.33,2.21,2.38,1.68

### [실습]
공공데이터포털에서 
한국감정원 오피스텔 동향조사 현황 자료를 검색하여
데이터타입 자료를 불러오세요

In [13]:
import pandas as pd

url = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001439364&fileDetailSn=1&publicDataDetailPk=uddi:2438e83c-e8a6-41b2-b1e1-d536ac75ffc6"

data = pd.read_csv(url,encoding='ms949')

data.head()

,지역,2018년 01월 평균매매가격,2018년 01월 평균단위당매매가격,2018년 01월 중위매매가격,2018년 01월 중위단위당매매가격,2018년 02월 평균매매가격,2018년 02월 평균단위당매매가격,2018년 02월 중위매매가격,2018년 02월 중위단위당매매가격
0,전국,176088,4293,155641,4185,176736,4304,155747,4193
1,수도권,189101,4710,170113,4595,189929,4724,170314,4606
2,지방,121651,2546,95096,2471,121544,2544,94810,2467
3,서울,221357,5809,198135,5724,222545,5830,198280,5728
4,서울 도심권,281658,6783,265382,7090,283055,6817,266864,7090

# 2. 국가통계포털 API 데이터 불러오기

### (1) 국가통계포털 공유서비스 사이트 접속 및 회원가입: (https://kosis.kr/openapi/index/index.jsp)

### (2) 통계자료 활용신청 및 URL 생성

### (3) JSON 데이터 이해

### (4) Python 활용 불러오기

In [12]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

# 데이터 접속 주소 입력
url = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&format=json&jsonVD=Y&userStatsId=haiteam/101/DT_1B040A3/2/2/20200409220810&prdSe=M&newEstPrdCnt=1"

# 정상 여부 확인 (200 정상)
response = requests.get(url)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)
df.head()

C:\Users\kopo\anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202003,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,51843195,M,00,전국,Whole country
1,행정구역(시군구)별 성별 인구수,202003,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,9733655,M,11,서울특별시,Seoul
2,행정구역(시군구)별 성별 인구수,202003,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,3409932,M,26,부산광역시,Busan
3,행정구역(시군구)별 성별 인구수,202003,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2433568,M,27,대구광역시,Daegu
4,행정구역(시군구)별 성별 인구수,202003,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,2952689,M,28,인천광역시,Incheon

### [실습]
지가변동률(시도/시/군/구)
* 서울시 2010~2018년도 지가변동률 수집

지가변동률(시도/시/군/구)
* 서울시 2010~2018년도 지가변동률 수집

In [16]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [17]:
url = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&format=json&jsonVD=Y&userStatsId=haiteam/101/DT_1YL20881/2/1/20190714191030_1&prdSe=Y&startPrdDe=2010&endPrdDe=2018"

In [18]:
# 데이터 접속 주소 입력
#url = ‘통계청 API에서 받은 URL’
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)
df.head(10)

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_ID,ORG_ID,UNIT_NM,UNIT_NM_ENG,C1_OBJ_NM,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,지가변동률(시도/시/군/구),2010,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,0.527,A,11,서울특별시,Seoul
1,지가변동률(시도/시/군/구),2011,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,0.966,A,11,서울특별시,Seoul
2,지가변동률(시도/시/군/구),2012,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,0.378,A,11,서울특별시,Seoul
3,지가변동률(시도/시/군/구),2013,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,1.206,A,11,서울특별시,Seoul
4,지가변동률(시도/시/군/구),2014,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,2.662,A,11,서울특별시,Seoul
5,지가변동률(시도/시/군/구),2015,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,2.688,A,11,서울특별시,Seoul
6,지가변동률(시도/시/군/구),2016,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,2.974,A,11,서울특별시,Seoul
7,지가변동률(시도/시/군/구),2017,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,4.315,A,11,서울특별시,Seoul
8,지가변동률(시도/시/군/구),2018,DT_1YL20881,지가변동률,T10,101,%,%,행정구역별,6.114,A,11,서울특별시,Seoul

# 3. 공공데이터 포털 API 데이터 불러오기

### 접속: (https://www.data.go.kr/)  및 회원가입

### (1) 자료검색 및 제공유형 확인

### (2) 데이터 활용신청

### (3) 개발계정 API 키 신청

### (4) 개발문서 및 개발가이드 확인

xmlurl="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

### (5) XML 태그 이해

### (6) Python 활용 불러오기 - 전략

In [77]:
import pandas as pd

rowList = []
columnList = []

columnList.append(82500)
columnList.append(2008)
rowList.append(columnList)
columnList = []

columnList.append(60000)
columnList.append(1982)
rowList.append(columnList)
columnList = []

pd.DataFrame(rowList, columns=["거래금액","건축년도"])

    거래금액  건축년도
0  82500  2008
1  60000  1982

### (6) Python 활용 불러오기 Part #1

일반 방법

In [17]:
#XML 태그 변환 라이브러리
#BeautifulSoup 라이브러리
import requests
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd


url="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

#웹페이지 html 소스 가져오기
response = requests.get(url)
response.encoding='utf-8'
xmlobj = BeautifulSoup(response.text,"lxml-xml")

In [126]:
rows = xmlobj.findAll(name="item")

In [154]:
rowList = []
columnList = []
nameList = []

In [155]:
rowsLen = len(rows)
rowsLen

10

In [156]:
rowIndex = 0

In [157]:
for eachRow in rows:
    columns  = eachRow.findAll()
    rowIndex = rowIndex + 1
    for eachColumns in columns:
        # 첫번째 행 데이터값 수집 시에만 컬럼 값을 저장한다
        if rowIndex==0:
            nameList.append( eachColumns.name )
        # 1. 컬럼값 저장
        columnList.append( eachColumns.text )
    rowList.append(columnList)
    columnList = []

In [159]:
pd.DataFrame(rowList)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,11700,1,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,11800,1,킹스매너,12,8,11110-118,194.43,110-15,11110,6
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,11800,1,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,11800,1,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,17000,1,렉스빌,12,29,11110-973,106.98,19,11110,3
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,1,11110-25,84.8,4,11110,18
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,10,11110-25,84.9,4,11110,12

파라미터분리 방법

In [20]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
from bs4 import BeautifulSoup

API_Key = unquote('sjOpJdbWHR3lhq4f8w5Dg6lc6IDZPdXeue%2BzGqY47h4Jp4sKy8SE5wKtpoHT7yfpI1NMFLyMMYHSiY4MNP6dhQ%3D%3D')
url = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev'
queryParams = '?' + urlencode(
    {
        quote_plus('ServiceKey') : API_Key,
        quote_plus('LAWD_CD'): '11110',
        quote_plus('DEAL_YMD'): '201512'
     }
)

In [21]:
queryParams

'?ServiceKey=sjOpJdbWHR3lhq4f8w5Dg6lc6IDZPdXeue%2BzGqY47h4Jp4sKy8SE5wKtpoHT7yfpI1NMFLyMMYHSiY4MNP6dhQ%3D%3D&LAWD_CD=11110&DEAL_YMD=201512'

In [23]:
response = requests.get(url+queryParams)
response.encoding='utf-8'
xmlobj = BeautifulSoup(response.text,"lxml-xml")

### (6) Python 활용 불러오기 (Part #2)

In [53]:
rowList = []
columnList = []
nameList = []
rows = xmlobj.findAll("item")

In [54]:
columns = rows[0].findAll()

In [55]:
for i in range(0, len(columns)):
    nameList.append(columns[i].name)
    columnList.append( columns[i].text )
    rowList.append(columnList)

In [57]:
pd.DataFrame(rowList, columns = nameList)

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,법정동읍면동코드,법정동지번코드,아파트,월,일,일련번호,전용면적,지번,지역코드,층
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
1,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
2,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
3,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
4,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
5,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
6,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
7,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
8,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
9,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
10,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
11,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
12,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
13,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
14,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
15,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
16,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
17,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
18,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
19,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
20,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
21,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
22,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
23,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11

### (6) Python 활용 불러오기 (Part #3)

한개 행의 모든 컬럼값을 컬럼 리스트에 담는다!

In [13]:
# 한개 행의 모든컬럼 값을 리스트에 담아보자!
columns = rows[0].findAll()

# 거래금액
eachcolumnValue = columns[0].text
columnList.append(eachcolumnValue)
    
# 건축년도
eachcolumnValue = columns[1].text
columnList.append(eachcolumnValue)

#....

# 반복문으로 변환
for j in range(0, len(columns)):
    eachcolumnValue = columns[j].text
    columnList.append(eachcolumnValue)

### (6) Python 활용 불러오기 (Part #4)

In [14]:
# 전체 Row를 담을 리스트
rowList = []
# 한 행의 컬럼값을 담을 리스트
columnList = []
# 행 값을 담고 있는 모든 태그를 검색
rows = xmlobj.findAll('item')

# row를 반복한다.
for i in range(0, len(rows)):
    columns = rows[i].findAll()
    for j in range(0, len(columns)):
        eachcolumnValue = columns[j].text
        columnList.append(eachcolumnValue)
    # 데이터프레임 리스트에 컬럼값을 담자!
    # list(   (1행컬럼값), (2행컬럼값), (3행컬럼값),... )
    rowList.append(columnList)
    # 컬럼값을 다시 담기 위해 리스트를 비운다.
    columnList = []

### (6) Python 활용 불러오기 (Part #5)

In [85]:
# 데이터 프레임으로 변환하자
pd.DataFrame(rowList)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,11700,1,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,11800,1,킹스매너,12,8,11110-118,194.43,110-15,11110,6
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,11800,1,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,11800,1,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,17000,1,렉스빌,12,29,11110-973,106.98,19,11110,3
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,1,11110-25,84.8,4,11110,18
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,10,11110-25,84.9,4,11110,12

### (6) Python 활용 불러오기 (리펙토링)

In [87]:
# 전체 Row를 담을 리스트
rowList = []
# 한 행의 컬럼값을 담을 리스트
columnList = []
# 행 값을 담고 있는 모든 태그를 검색
rows = xmlobj.findAll('item')

for eachrow in rows:
    columns = eachrow.findAll()
    for eachColumns in columns:
        eachcolumnValue = eachColumns.text
        columnList.append(eachcolumnValue)
    rowList.append(columnList)
    columnList = []

### (6) Python 활용 불러오기 (컬럼이름 추출)

In [89]:
# 전체 Row를 담을 리스트
rowList = []

# 한 행의 컬럼값을 담을 리스트
columnList = []

# 행 값을 담고 있는 모든 태그를 검색
rows = xmlobj.findAll('item')

# 첫번째 행때 컬럼 수집
rowcnt = 0
columnNameList = []

for eachrow in rows:
    columns = eachrow.findAll()
    for eachColumns in columns:
        if(rowcnt==0):
            columnNameList.append(eachColumns.name)
        eachcolumnValue = eachColumns.text
        columnList.append(eachcolumnValue)
    rowcnt=rowcnt+1
    rowList.append(columnList)
    columnList = []
# 데이터 프레임으로 변환하자
result2 = pd.DataFrame(rowList, columns = columnNameList)
result2.head()

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,법정동읍면동코드,법정동지번코드,아파트,월,일,일련번호,전용면적,지번,지역코드,층
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,11700,1,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,11800,1,킹스매너,12,8,11110-118,194.43,110-15,11110,6
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,11800,1,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,11800,1,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4

### [실습]
대기오염정보 검색 후
통합대기환경지수 나쁨 이상 측정소 목록조회

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from lxml import html

In [3]:
url="http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getUnityAirEnvrnIdexSnstiveAboveMsrstnList?pageNo=1&numOfRows=10&ServiceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

In [5]:
resp = requests.get(url)

xmlobj = BeautifulSoup(resp.text,"lxml")

columnList = []
rowList = []

rows = xmlobj.find_all("item")

for i in range(0, len(rows)):
    columns = rows[i].find_all()
    for j in range(0, len(columns)):
        columnList.append(columns[j].text)
    rowList.append(columnList)
    columnList=[]

### 디버깅

In [11]:
rows = xmlobj.find_all("item")

<item>
<stationname>중구</stationname>
<addr>서울특별시 중구 덕수궁길 15시청서소문별관 3동</addr>
</item>

In [36]:
rows[0]

<item>
<stationname>중구</stationname>
<addr>서울특별시 중구 덕수궁길 15시청서소문별관 3동</addr>
</item>

In [19]:
columns = rows[0].find_all()

In [20]:
for j in range(0, len(columns)):
    columnList.append(columns[j].text)

In [22]:
rowList.append(columnList)

In [23]:
columnList=[]

In [27]:
columns = rows[1].find_all()

In [28]:
for j in range(0, len(columns)):
    columnList.append(columns[j].text)

In [29]:
rowList.append(columnList)

In [26]:
columnList=[]

### [실습]
지가지수 검색 후
지가지수 (연도별, 용도지역별, 월별)

In [14]:
import pandas as pd

url = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001420537&fileDetailSn=1&publicDataDetailPk=uddi:1187ad78-3933-43e9-92ae-9ed15c7096d8_201712281357"

data = pd.read_csv(url,encoding='ms949')

data.head()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
0,2004,3,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,...,-,2.42,1.44,1.53,1.21,1.90,1.42,1.31,2.06,1.28
1,2004,4,4.39,5.59,3.91,3.88,4.59,2.92,3.83,2.74,...,-,2.79,1.18,1.71,1.97,1.57,1.33,1.26,1.92,2.46
2,2004,5,4.19,5.14,4.90,3.83,4.78,3.41,4.19,2.93,...,-,2.22,1.44,1.72,1.85,1.75,1.31,1.50,1.85,2.14
3,2004,6,4.09,4.38,4.20,3.77,4.30,2.83,4.19,2.81,...,-,2.62,1.53,1.57,1.79,1.64,1.19,1.56,1.89,1.81
4,2004,7,4.29,5.88,4.43,4.28,4.81,3.32,4.35,2.54,...,-,2.41,1.68,1.91,2.15,1.64,1.36,1.50,1.93,2.63